body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', arial;
    margin: 0;
    padding: 0;
    text-align: center;
    
    
}

.header{
    display: flex;
    background-color: #1f2937;
    align-items: center;
    padding: 20px 100px 20px 100px;

    }

ul a {
    text-decoration: none;
    color: #E5e7eb;
    
}

.logo
    {
       filter: invert(100%);
        
    }


ul{
    
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin-left: auto;
    color: white;   
    
}


.hero
{
    display: flex;
    background-color: #1f2937; 
    color: white;
    align-items: center;
    justify-content: center;
    padding: 90px;
    
    
   
    
}

.container1 {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    flex-basis: 700px;
    text-align: left;
}
.paragraph
{
    opacity: 0.8;
}


.Signup1
{
    margin-top: 20px;
    width: 140px;
    background-color: #3882f6;
    padding: 10px;
    font-size: large;
    color: white;
    border-radius: 5px;
    border: 0;
    height: 45px;

}
.Signup1:hover
{
   
    background-color: blue;
}



.texting

{
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight:bolder ;
    margin: 25px;


    
}
.container2 {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
   margin-bottom: 50px;
   
}


.inntercontainer
{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    text-align:justify;
    font-size: 20px;
    color: #1f2937;
    
}

.inntercontainer img
{
    margin-bottom: 10px;
    border-radius: 5px;
    border: 5px solid  #3882f6;
    filter: drop-shadow(10px 10px 10px #1f2937);
    transition: 0.2s;
}
.inntercontainer img:hover
{
    
    transform: scale(1.1);
}

.inntercontainer .text 
{
    text-align: center;
    margin-top: 10px;
}


.testimonial
{
    display: flex;
    flex-direction:column;
    color: #1f2937;
    background-color: #E5e7eb;
    padding: 40px 200px;
    
}
.testimonialtext
{
    font-size: 33px;
    justify-content: center;
    align-items: center;
    font-style:italic;
}


.testimonialsubtext
{
    font-size: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    text-align:right;
    font-weight: bolder;
    

}




.lastcontainer
{
    background-color: white;
    
}

.container4{
    display: flex;
    
    min-height: 100px;
    
    margin: 50px 200px;
    padding: 10px 80px;
    border-radius: 7px;
    background-color: #3882f6;
    color: white;
    gap:50px;
    

}

.container4 .Signup1 
{
    color: white;
    border: 1px solid white;
    margin-top: 0;
    margin-left: auto;
    margin-right: 100px;
    
    

    align-self: center;
}

.container4in 
{
    text-align: left;
    align-self: center;
    padding-left: 100px;
}

.text3 
{
    font-size: 30px;
}


.text4
{
    
    color: #E5e7eb;
}

.footeroutside
{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    height: 50px;
   


}
.footer 
{   color: aliceblue;
    align-self: center;
}